
@{
    ViewData["Title"] = "UserList";
}
@model List<AdminModel.UserViewModel>//artık burada beklediğimiz modeli belirtiyoruz. userviewmodel alan bir liste gelecek. bunun namespaceini viewimportsda belirttik.

<h1>Üye Liste</h1>

<form asp-area="Admin"asp-controller="Home"asp-action="Index"method="get" class="">

    <!-- TABLO OLUŞTURMA-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kullanıcı Adı</th>
                <th>Email</th>
                <th>Roller</th>
                <th>Rol İşlemleri</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model) //modelden list geliyo onu foreach ile dönüp yazdırıyoruz.
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>
                        <user-role-names user-id="@item.Id" class="rounded"></user-role-names>
                    </td>
                    <td class="offset-md-3">
                        <!-- burası önemli tablodaki satıra tıklayıp update silme işlemleri yapcağın zaman bu şekilde buton ekleyebilirsin itemin Id sini alman lazım-->
                        <a class="btn btn-success btn-sm" asp-controller="Roles" asp-action="AssignRoleToUser" asp-route-id="@item.Id">Rol Ata</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</form>



